.product-container:hover{
    border-color: rgb(36, 36, 36);
}
.discount-label{
    height:27px;
    width:60px;
    border-radius:7px;
    position:absolute;
    background:linear-gradient(to right, rgb(136,18,18) , rgb(237,50,38));
    right:0;
    margin-right:14px;
    margin-top:1px;
    text-align:center;
}

/* Links customization */
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}